*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#canvas{
  width: 100%;
  min-height: 100vh;
}

#box{
  width: 100px;
  height: 100px;
  background-color: red;
}


div.loading{
  position: absolute;
  inset: 0;
  z-index: 20;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

}

div.loading div{
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
}